html{
font-size: 13px;
}


h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(236, 187, 52, 0.623);
}

main {
width: 100%;
max-width:800px;
border: 1px solid green;
margin:0 auto;
display:flex;
flex-wrap: wrap;
/* flex-direction: row; */
background-color: white;
}

img {
    width:100%


}
figure {
    width:100%;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: .5rem;
}



section{
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: .5rem;
    background-color: rgba(7, 82, 7, 0.733);
    color: white;
    padding: 20px;
    /* font-size: .5rem; */
    line-height: 1.5;

}

footer {
  text-align: center;
}

@media only screen and (max-width: 600px) {

main {

width:100%; 
padding:0;
border: 1px solid rgba(7, 82, 7, 0.733);
background-color: white;
}

p {
    font-size: .9em;
    margin-top: 2em;
}

}

